.message {
    display: flex;
    align-items: center;
    width: fit-content;
    max-width: 50%;
}

.message-content-div {
    display: flex;
    flex-direction: column;
    width: 100%;

    margin: 5px;
    padding: 10px;
    background-color: var(--color-primary);
    border-radius: 8px;
}

.message-content {
    font-size: 16px;
    color: white;
    font-weight: 100;
    margin: 0;
}

.message-details {
    align-self: flex-end;
    display: flex;
    align-items: center;
}

.message-status {
    margin: 0;
    padding: 0;
    margin-left: 5px;
}

.message-not-viewed {
    color: white;
}

.message-viewed {
    color: #151;
}

.message-time {
    margin: 0;
    font-size: 12px;
    color: #ddd;
    margin-top: 5px;
}

.sent-message {
    justify-self: end;
}

.received-message {
    justify-self: start;
}